*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: "Pokemon Main Font";
    src: url(/src/fonts/pokefont.ttf);
}

@font-face {
    font-family: "Pokemon GameBoy Font";
    src: url(/src/fonts/pokemon-gbfont.ttf);
}

:root{
    --pokemon-yellow:yellow;
    --pokemon-main-fomt:"Pokemon Main Font";
    --pokemon-gameboy-font:"Pokemon GameBoy Font";
}

body{
    background-color: var(--pokemon-yellow);
}

h1{
    font-family: var(--pokemon-main-fomt);
    font-size:4rem;
    padding:10px 0;
    color:var(--pokemon-yellow);
    letter-spacing: 3px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: blue;
    display:flex;
    align-items: center;
    justify-content: center;
    height:12vh;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:0 2vw;
}

#favs, #select_types{
    background-color: var(--pokemon-yellow);
    font-family: var(--pokemon-gameboy-font);
    width: max-content;
    padding:10px;
}

#favs{
    border:1px solid black;
    border-radius: 10px;
    height:35px;
}

.card{
    border:2px solid black;
    max-width:200px;
    width: 100%;
    margin-left: 2vw;
}

.card_header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--pokemon-gameboy-font);
    font-size:0.7em;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom:5px;
}

.pokemon_info{
    display:flex;
    flex-wrap: wrap;
    font-size:0.8em;
    font-family: var(--pokemon-gameboy-font);
}

.pokemon_stat{
    font-size:1em;
}